.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0;
    box-shadow:5px 5px 5px grey;
    font-family: 'Lora', serif;
}

.note
{
    font-size: 15px;
    color: rgb(69, 47, 29);
}

.copy_right_footer
{
    position: fixed;
    color: aliceblue;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
    font-family: 'Pacifico', cursive;
}

canvas
{
    border:5px solid white;
    border-radius: 20px;
    box-shadow:5px 5px 5px grey;
}